<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/10294369_10152412633843234_68595133226090922_n.jpg">    
    </div>
    {{>footer}}
</body>

</html>