<!DOCTYPE html>

<html>
<head>

</head>
    <link rel="stylesheet" href="/css/styles.css">
<body>
    {{>header}}
    <img src="/img/10294369_10152412633843234_68595133226090922_n.jpg">
    {{>footer}}
</body>

</html>