<!DOCTYPE html>

<html>
<head>

</head>
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <h1>{{title}}</h1>
    <img src="/img/10294369_10152412633843234_68595133226090922_n.jpg">
    <p>Created by {{name}}</p>
</body>

</html>